<div class="flex-drawer-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Lists!</span>
    <span class="flex-spacer"></span>
    <span *ngIf="auth.isAuthenticated()">
      {{profile?.nickname}}
      <button mat-raised-button color="accent" (click)="auth.logout()">Logout</button>
    </span>
    <span *ngIf="!auth.isAuthenticated()"><button mat-raised-button color="accent" (click)="auth.login()">Login</button></span>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
      <app-nav-menu (navigated)="drawer.toggle();"></app-nav-menu>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
