apiVersion: v1
kind: Service
metadata:
  name:  lists-web-svc
  namespace: lists
spec:
  selector:
    app:  lists-web
    #version: "0.1" # No version filter, should always match newer versions on upgrades
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: http-main
      name: http-lists-web-svc
