<div>
  <label>Name:
    <input #listName />
  </label>
  <button (click)="add(listName.value); listName.value=''">
    Add
  </button>
</div>

<p>Lists:</p>
<ul class="lists">
  <li *ngFor="let list of lists">
    <a routerLink="/lists/{{list.id}}">
      <span class="badge">{{list.id}}</span> {{list.name}}
    </a>
    <button class="delete" title="delete list" (click)="delete(list)">X</button>
    &nbsp;&nbsp;
    <button class="play" title="run test for this list" (click)="play(list)">&gt;</button>
  </li>
</ul>
