<div class="flex-drawer-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Lists!</span>
    <span class="flex-spacer"></span>
    <span>Login!</span>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="over">
      <app-nav-menu onMenuSelect="drawer.toggle()"></app-nav-menu>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
